
<title>Quality Stone Restoration | Stone Cleaning at Competitive Prices</title>
<meta name="fb_admins_meta_tag" content="qualitystonerestoration"/>
<meta name="keywords" content="countertop repair, granite repair san diego, san diego granite repair"/>
<meta name="description" content="For restoration and cleaning of marble, travertine, limestone, granite, tile and grout, concrete polishing and more, call 1-800-466-0341"/>

<meta property="og:title" content="Quality Stone Restoration | Stone Cleaning at Competitive Prices"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://www.stonesandiego.com/"/>

<meta property="og:site_name" content="Quality Stone Restoration | Stone Cleaning at Competitive Prices"/>
<meta property="fb:admins" content="qualitystonerestoration"/>
<meta property="og:description" content="For restoration and cleaning of marble, travertine, limestone, granite, tile and grout, concrete polishing and more, call 1-800-466-0341"/>
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>