<title>Quality Stone Restoration | Stone Cleaning at Competitive Prices</title>
<meta name="fb_admins_meta_tag" content="qualitystonerestoration"/>
<meta name="keywords" content="countertop repair, granite repair san diego, san diego granite repair"/>
<meta name="description" content="For restoration and cleaning of marble, travertine, limestone, granite, tile and grout, concrete polishing and more, call 1-800-466-0341"/>
