
/*===== Variables =====*/

$base-font-size: 23px;
$nav-color: #E9DB89;

/*===== Mixins =====*/
@mixin clear() {
  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

/*===== Keyframes =====*/
@keyframes pulse {
  from { transform: scale(1) }
  to { transform: scale(.8) }
}
