.fancybox- {
  &wrap, &skin, &outer, &inner,
  &image, &wrap iframe, &wrap object,
  &nav, &tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
  }

  &wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
    background: #fff;
  }

  &skin {
    position: relative;
    background: transparent;
    text-shadow: none;
  }

  &opened {
    z-index: 8030;
  }

  &outer, &inner {
    position: relative;
  }

  &inner {
    overflow: hidden;
  }

  &type-iframe &inner {
    -webkit-overflow-scrolling: touch;
  }

  &error {
    color: #444;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
  }

  &image, &iframe {
    display: block;
    width: 100%;
    height: 100%;
  }

  &image {
    max-width: 100%;
    max-height: 100%;
  }

  &close {
    position: absolute;
    z-index: 8040;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: {
      image: url(../img/vector/close.svg);
      repeat: no-repeat;
      position: center center;
      size: contain;
    }
    opacity: .75;
    &:hover {
      opacity: 1;
    }
  }

  &nav {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 8040;
    background: {
      position: 50% 50%;
      size: 50% auto;
      repeat: no-repeat;
    }
    opacity: .75;
    &:hover {
      opacity: 1;
    }
  }

  &prev {
    left: 10px;
    background-image: url(../img/vector/prev.svg);
  }

  &next {
    right: 10px;
    background-image: url(../img/vector/next.svg);
  }

  &tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important; }

  &lock {
    overflow: hidden !important;
    width: auto;
  }

  &lock body {
    overflow: hidden !important;
  }

  &lock-test {
    overflow-y: hidden !important;
  }

  &overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: rgba(#000, .9);
  }

  &overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  &lock &overlay {
    overflow: auto;
    overflow-y: scroll;
  }
}