@media (max-width: 960px) {
  html {
    overflow: hidden;
  }
  body {
    font-size: 18px;
    overflow-y: auto;
  }
  .header {
    position: relative;
    z-index: 1;
  }
  .container {
    max-width: 720px;
  }
  .nav {
    font-size: inherit;
    transform: translateY(-100%);
    transition: all .5s ease;
    a {
      font-size: 1.2em;
    }
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    margin: 0;
    background-color: rgba(#000, .9);
    li {
      display: block;
      &:not(:last-child) {
        border: 0;
      }
      a {
        padding: 0;
      }
    }
    &-label {
      z-index: 1;
      display: block;
      width: 36px;
      height: 24px;
      position: fixed;
      top: 24px;
      right: 24px;
      span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all .5s ease;
        &:first-child {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
          margin-top: -1px;
        }
        &:last-child {
          bottom: 0;
        }
      }
    }
    :checked ~ & {
      transform: none;
      &-label {
        span {
          &:first-child, &:last-child {
            top: 50%;
            margin-top: -1px;
          }
          &:nth-child(2) {
            transform: scale(0);
          }
          &:first-child {
            transform: rotate(-45deg);
          }
          &:last-child {
            transform: rotate(225deg);
          }
        }
      }
    }
  }
  .gallery {
    a {
      margin: 2px;
    }
  }
  .bg {
    opacity: .35;
  }
  .sidebar {
    width: 240px;
    + .content {
      padding-left: 260px;
    }
  }
  .content {
    .gallery {
      li {
        margin-bottom: 10px;
        &:nth-child(odd) {
          margin-right: 10px;
        }
      }
      a {
        width: 220px;
        height: 220px;
      }
    }
  }
  .row {
    label.error {
      position: static;
      margin: 5px 0;
      display: flex;
    }
  }
  .promo {
    display: block;
    padding: 0;
    &-cell {
      width: auto;
      margin: 40px 0;
    }
  }
}

@media (max-width: 750px) {
  body {
    font-size: 15px;
  }
  .container {
    max-width: 380px;
    padding: 80px 20px 40px;
    margin: 0 auto;
  }
  .nav {
    line-height: 2;
  }
  .input {
    font-size: inherit;
  }
  .row {
    label.error {
      font-size: .9em;
      margin: -10px 0 10px;
    }
  }
  .input {
    margin-bottom: 10px;
  }
  h1 {
    font-size: 2em;
  }
  .sidebar {
    width: auto;
    float: none;
    font-size: inherit;
    + .content {
      padding-left: 0;
      margin-top: 40px;
    }
    ul, dl {
      font-size: inherit;
    }
  }
  .sidebar, .content {
    a[href^="mailto:"], a[href^="tel:"] {
      color: $nav-color;
    }
  }
  .hero {
    &-tel {
      font-size: 1.8em;
    }
  }
  .page {
    .gallery {
      max-width: 360px;
      margin: 30px auto;
      li:nth-child(n), li {
        margin: 0 0 10px;
        width: 50%;
        a {
          width: 100%;
          border: {
            width: 3px;
          }
          height: 150px;
          margin: 0;
        }
      }
      li {
        &:nth-child(even) {
          padding-left: 5px;
        }
        &:nth-child(odd) {
          padding-right: 5px;
        }
      }
    }
  }
}