html {
  height: 100%;
}

body {
  font: 300 $base-font-size 'Roboto', 'Arial',  sans-serif;
  line-height: 1.5;
  background-color: #000;
  color: #fff;
  height: 100%;
}

a {
  transition: all .2s linear;
}

img {
  border: 5px solid #fff;
}

.container {
  margin: 70px auto;
  max-width: 960px;
  position: relative;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .5;
  background: {
    size: cover;
    position: 50% 50%;
  }
  @each $bg in home, services, about, promotions, service {
    &-#{$bg} {
      background-image: url('../img/bg-' + $bg + '.jpg');
    }
  }
}

header.header {
  text-align: center;
}

.page {
  margin: 50px 0;
  @include clear;
  &-contact, &-service {
    .sidebar {
      color: #fff;
    }
  }
  &-header {
    margin-bottom: 50px;
  }
}

h1 {
  font: {
    size: 2.56em;
    weight: 100;
    family: 'Raleway', sans-serif;
  }
  text-transform: uppercase;
}

h2 {
  font: {
    size: 2.56em;
    weight: 300;
  }
  margin-bottom: .66em;
}

h4 {
  text-align: center;
  font: {
    size: 2.17em;
    weight: 300;
  }
}

h5 {
  font: {
    size: 1.52em;
    weight: 100;
  }
  text: {
    align: center;
    transform: uppercase;
  }
}

h6 {
  font-size: 1.1em;
  + a[href] {
    font-size: 1.1em;
    margin: 0;
  }
}

p {
  margin: 1.33em 0;
}

.hero {
  margin-bottom: 50px;
  &-tel {
    font: {
      size: 2.6em;
      family: 'Roboto Condensed', sans-serif;
    }
    &:hover {
      opacity: .55;
    }
  }
}

.social {
  margin: 70px 0 0;
  text-align: center;
  fill: #fff;
  font-size: 0;
  li {
    display: inline-block;
    + li {
      margin-left: 27px;
    }
  }
  svg {
    width: 36px;
    height: 36px;
  }
  a {
    display: block;
    opacity: .3;
    &:hover {
      opacity: .75;
    }
  }
}

a {
  &[href^="mailto:"], &[href^="tel:"] {
    margin: 0 .33em;
    &:hover {
      opacity: .6;
    }
  }
}

.address {
  margin: 1.33em auto;
  max-width: 380px;
  text-align: center;
  font: {
    family: "Roboto Condensed", sans-serif;
  }
  p {
    margin: 0;
  }
}

.nav {
  color: $nav-color;
  margin: 0 (-$base-font-size);
  font: {
    size: 0;
    family: 'Roboto Condensed', sans-serif;
  }
  line-height: 1.68;
  li {
    display: inline-block;
    &:not(:last-child) {
      border-right: 1px solid $nav-color;
    }
    &:first-child {
      a {
        padding-left: 0;
      }
    }
    &:last-child {
      a {
        padding-right: 0;
      }
    }
  }
  a {
    display: block;
    font-size: 25px;
    padding: 0 50px;
    &:hover {
      opacity: .6;
    }
  }
}

.form {
  margin: 70px auto;
  max-width: 560px;
  &-content {
    position: relative;
  }
  &-rows {
    transition: all .25s ease;
  }
  &-message, &-loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
  }
  &-loader {
    &-spinner {
      position: absolute;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: $nav-color;
      top: 50%;
      left: 50%;
      margin: -11px 0 0 -11px;
      animation: pulse .3s ease-in-out 0s infinite alternate;
    }
  }
  &.success, &.fail, &.submitted, &.loading {
    .form-rows {
      opacity: 0;
      visibility: hidden;
    }
  }
  &.loading {
    .form-loader {
      opacity: 1;
      visibility: visible;
    }
  }
  &.success {
    .form-message-success {
      visibility: visible;
      opacity: 1;
    }
  }
  &.fail {
    .form-message-error {
      visibility: visible;
      opacity: 1;
    }
  }
}

textarea {
  min-height: 130px;
}

.input {
  font-size: 17px;
  line-height: 1.4;
  display: block;
  width: 100%;
  padding: 5px 8px;
  margin-bottom: 5px;
  border: 0;
  &-button {
    background-color: rgba(160, 160, 159, 1);
    width: auto;
    color: #fff;
    margin: 0 0 0 auto;
    padding: 5px 30px;
    &:hover {
      opacity: .9;
    }
  }
}

.row {
  position: relative;
  label.error {
    position: absolute;
    display: inline-flex;
    min-height: 33px;
    align-items: center;
    top: 0;
    left: 100%;
    white-space: nowrap;
    padding: 5px 8px;
    font-size: .5em;
    background-color: red;
    opacity: .8;
  }
}

.sidebar {
  float: left;
  width: 300px;
  color: $nav-color;
  font-size: .87em;
  dl {
    font-size: .8em;
  }
  dt {
    margin-top: 30px;
    font: {
      family: 'Roboto Slab', sans-serif;
      weight: 700;
      size: 1.125em;
    }
  }
  dd {
    margin-bottom: 30px;
  }
  ul {
    font-size: .9em;
    ul {
      list-style: disc outside;
      padding: 3px 0 0 30px;
    }
  }
  > ul {
    > li:not(:first-child) {
      margin: 1.33em 0;
    }
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
  p {
    margin-top: 0;
  }
  + .content {
    padding-left: 340px;
  }
}

.content {
  > img {
    display: block;
    margin: 2em 0;
  }
  .gallery {
    a {
      width: 290px;
      height: 290px;
      margin: 0;
    }
    li {
      margin-bottom: 40px;
      &:nth-child(odd) {
        margin-right: 40px;
      }
    }
  }
  .form {
    margin-left: 0;
  }
}

.compact {
  margin: 0 auto;
  max-width: 640px;
  font-size: 1.17em;
}

.promo {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 70px;
  &-cell {
    color: #605E5E;
    width: 413px;
    border: 2px dashed red;
    background-color: #fff;
    padding: 20px;
    font-size: .87em;
    p {
      margin: 1em 0;
    }
  }
  &-heading {
    font: {
      family: "Roboto Condensed", sans-serif;
      size: 1.9em;
    }
  }
  &-footer {
    text-align: center;
  }
}

.gallery {
  font-size: 0;
  li {
    display: inline-block;
  }
  a {
    display: block;
    border: 8px solid rgba(47, 46, 46, 1);
    width: 175px;
    height: 175px;
    margin: 8px;
    background: {
      size: cover;
      position: 50% 50%;
    }
    &:hover {
      opacity: .8;
    }
  }
}