head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge, chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no")
    include ../meta/index.html
