doctype html
html
    include includes/partials/head
        include includes/meta/favicon.html
    body
        .bg.bg-home
        main.container
            header.header
                section.hero
                    h1 Quality Stone Restoration
                    a.hero-tel(href="tel:858-800-3819") (858) 800-3819
                input(type="checkbox" id="globalnav" hidden)
                label(for="globalnav" class="nav-label" hidden)
                    span
                    span
                    span
                nav.nav
                    ul
                        li
                            a(href="index.html") Home
                        li
                            a(href="services") Services
                        li
                            a(href="copy-of-services") Gallery
                        li
                            a(href="promotions") Promotions
                        li
                            a(href="about-us") About
                        li
                            a(href="contact-us") Contact
            include includes/pages/index
            include includes/components/socials