doctype html
html
    include includes/partials/head
        include includes/meta/favicon-inner.html
    body
        .bg.bg-service
        main.container
            header.header
                section.hero
                    h1 Quality Stone Restoration
                    a.hero-tel(href="tel:858-800-3819") (858) 800-3819
                include includes/components/nav-inner
            include includes/pages/limestone
            include includes/components/socials