.form-content
    .form-rows
        .row
            input.input(id="user_name" name="user_name" type="text" placeholder="Name" required)
        .row
            input.input(id="user_email" name="user_email" type="email" placeholder="Email" required)
        .row
            input.input(id="user_subject" name="user_subject" type="text" placeholder="Subject" required)
        .row
            textarea.input.input-large(id="user_message" name="user_message" placeholder="Message" required minlength="10")
        .row
            button.input.input-button(type="submit" name="submit") Send
    .form-loader
        .form-loader-spinner
    .form-message.form-message-success Thanks for your response! We'll reply as soon as possible!
    .form-message.form-message-error Something went wrong. Please try again later!