input(type="checkbox" id="globalnav" hidden)
label(for="globalnav" class="nav-label" hidden)
    span
    span
    span
nav.nav
    ul
        li
            a(href="../index.html") Home
        li
            a(href="../services") Services
        li
            a(href="../copy-of-services") Gallery
        li
            a(href="../promotions") Promotions
        li
            a(href="../about-us") About
        li
            a(href="../contact-us") Contact