ul.social
    li
        a(href="https://www.facebook.com/qualitystonerestoration" target="_blank")
            svg(viewBox="0 0 12 25")
                path(d="M11.820,8.958 L7.682,8.958 L7.682,5.966 C7.682,5.046 8.638,4.832 9.084,4.832 C9.529,4.832 11.757,4.832 11.757,4.832 L11.757,0.790 L8.698,0.778 C4.512,0.778 3.560,3.791 3.560,5.719 L3.560,8.958 L0.525,8.958 L0.525,13.122 L3.560,13.122 C3.560,18.465 3.560,24.358 3.560,24.358 L7.682,24.358 C7.682,24.358 7.682,18.401 7.682,13.122 L11.181,13.122 L11.820,8.958 Z")
    li
        a(href="https://twitter.com/QSRestoration" target="_blank")
            svg(viewBox="0 0 17 14")
                path(d="M16.546,2.029 C16.268,2.181 15.431,2.485 14.651,2.561 C15.151,2.294 15.892,1.419 16.075,0.723 C15.594,1.027 14.489,1.471 13.944,1.471 C13.944,1.471 13.944,1.471 13.945,1.473 C13.322,0.828 12.447,0.426 11.476,0.426 C9.590,0.426 8.061,1.941 8.061,3.811 C8.061,4.070 8.092,4.324 8.149,4.565 L8.148,4.565 C5.589,4.499 2.599,3.229 0.913,1.053 C-0.121,2.830 0.774,4.805 1.949,5.526 C1.548,5.556 0.806,5.480 0.458,5.143 C0.434,6.322 1.006,7.884 3.092,8.450 C2.690,8.665 1.980,8.604 1.670,8.557 C1.779,9.554 3.186,10.855 4.722,10.855 C4.175,11.482 2.306,12.623 -0.007,12.259 C1.564,13.208 3.396,13.756 5.335,13.756 C10.844,13.756 15.123,9.331 14.893,3.872 C14.893,3.866 14.890,3.860 14.890,3.854 C14.890,3.839 14.893,3.823 14.893,3.811 C14.893,3.794 14.890,3.777 14.890,3.759 C15.391,3.422 16.064,2.820 16.546,2.029 Z")
    li
        a(href="https://plus.google.com/+QualityStoneRestorationSanDiego" target="_blank")
            svg(viewBox="0 0 14.22 14")
                path(d="M465.32,636.93c-0.24.26-.46,0.54-0.72,0.78a0.77,0.77,0,0,1-.42.17,5.19,5.19,0,0,0-.74.07l0.24,0.22a2.73,2.73,0,0,1,.16,3.71l-1,1a0.81,0.81,0,0,0,0,1.29c0.44,0.44.95,0.81,1.42,1.22a2.94,2.94,0,0,1,1.15,2.7,2.81,2.81,0,0,1-1.3,2,5,5,0,0,1-2.32.79l-0.3.05h-1.18l-0.27-.05a5.55,5.55,0,0,1-2.36-.77,2.41,2.41,0,0,1-.24-3.93,4.34,4.34,0,0,1,2.1-.9c0.55-.09,1.11-0.14,1.67-0.21a1.85,1.85,0,0,1-.33-1.8l-0.91-.13a2.94,2.94,0,0,1-2.42-3.7,3.13,3.13,0,0,1,2.71-2.4,12.12,12.12,0,0,1,1.27-.12h3.81Zm-4.39,13.22a3.77,3.77,0,0,0,2-.45,2,2,0,0,0,.49-3.13,3.5,3.5,0,0,0-4.71-.11,1.87,1.87,0,0,0-.06,2.87A2.87,2.87,0,0,0,460.94,650.14Zm2-9.39a10.28,10.28,0,0,0-.21-1.06,2.85,2.85,0,0,0-1.51-1.94,1.43,1.43,0,0,0-1.83.47,2.44,2.44,0,0,0-.4,2,2.75,2.75,0,0,0,1.8,2.32,1.46,1.46,0,0,0,2-1A7.55,7.55,0,0,0,462.94,640.75Z" transform="translate(-456.52 -636.93)")
                path(d="M467.94,640h-1.87V639h1.82v-1.84h1V639h1.89v0.94h-1.88v1.89h-0.93V640Z" transform="translate(-456.52 -636.93)")
