.page
    section.content
        .compact
            h4 About Our Company
            p Quality Stone Restoration is a professional stone restoration company serving San Diego County and surrounding areas.  Our skilled team of experienced, certified technicians clean, restore, repair, polish, and protect a variety of stone surfaces including marble, limestone, travertine, and granite flooring and counter tops.  We also clean and protect tile and grout flooring, counters, back splashes, and showers.  Our concrete services include polishing, staining, grinding, and sealing.
            p Quality Stone Restoration values knowledge and skill.  We know that not just anyone can restore and repair stone; it requires a specialized skill set, training, and experience.  That's why we stay apprised of the latest technologies in our field by regularly sending our technicians to formal training seminars.  Combining that training with our own hands-on experience, we bring our clients the best in professional stone restoration and cleaning.
            p A local family business with eight years of experience in stone restoration and twenty-one years of experience in professional floor care, we pride ourselves in delivering quality work at competitive prices to the residents and businesses of San Diego County and surrounding areas.
            p Quality Stone Restoration offers free in-home and on-site estimates for all services.
            p
                span Call us today at
                include ../components/link-tel
                span for your free in-home or on-site estimate. You can also contact us at
                include ../components/link-mailto
