.page.page-contact
    h2 Contact us
    aside.sidebar
        p
            strong Call us at
                include ../components/link-tel
        p Call us 7 days a week from 7:00 a.m. to 8:00 p.m. We generally respond to emails within an hour during business hours.  Call or text for an immediate response.
        p
            strong
                Email us at
                include ../components/link-mailto
    section.content
        p Or send us a message through our website:
        include ../components/form-inner