
.page
    ul.gallery
        li
            a(href="../img/gallery/01.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/01.jpg') + ")")
        li
            a(href="../img/gallery/02.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/02.jpg') + ")")
        li
            a(href="../img/gallery/03.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/03.jpg') + ")")
        li
            a(href="../img/gallery/04.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/04.jpg') + ")")
        li
            a(href="../img/gallery/05.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/05.jpg') + ")")
        li
            a(href="../img/gallery/06.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/06.jpg') + ")")
        li
            a(href="../img/gallery/07.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/07.jpg') + ")")
        li
            a(href="../img/gallery/08.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/08.jpg') + ")")
        li
            a(href="../img/gallery/09.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/09.jpg') + ")")
        li
            a(href="../img/gallery/10.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/10.jpg') + ")")
        li
            a(href="../img/gallery/11.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/11.jpg') + ")")
        li
            a(href="../img/gallery/12.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/12.jpg') + ")")
        li
            a(href="../img/gallery/13.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/13.jpg') + ")")
        li
            a(href="../img/gallery/14.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/14.jpg') + ")")
        li
            a(href="../img/gallery/15.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/15.jpg') + ")")
        li
            a(href="../img/gallery/16.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/16.jpg') + ")")
        li
            a(href="../img/gallery/17.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/17.jpg') + ")")
        li
            a(href="../img/gallery/18.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/18.jpg') + ")")
        li
            a(href="../img/gallery/19.jpg" rel="gallery" style="background-image: url(" + require('../../img/gallery/19.jpg') + ")")
