.page.page-service
    header.page-header
        h4 Granite
        h5 Repair, Polishing sealing, and Cleaning
    aside.sidebar
        ul
            li
                div Quality Stone Restoration's granite services include:
                ul
                    each item in ["Polishing", "Protective Sealing", "Professional Cleaning", "Chip Repair​​"]
                        li= item
        dl
            dt Polishing
            dd If you have granite that looks duller than you'd like, Quality Stone Restoration's polishing services can make it shine.  See our granite photos  and our gallery for examples of what we can do to bring back and enhance mirror-like reflections in your granite counter tops, back splashes, and showers. 
            dt Protective Sealing
            dd While protectively sealing natural stone surfaces is not mandatory, it is very highly recommended.  No sealer is an impenetrable barrier, but a quality sealer will go a long way toward protecting against staining and general soiling.  A good sealer will make clean-up easier and much more effective than an unsealed surface, but in the end, if you spill something, it still needs to be cleaned up.  Quality sealers will give you more time to do so.
            dt Professional Cleaning
            dd Frequent light cleaning of stone surfaces is ideal for overall maintenance.  It is also important for a deep professional clean to be performed regularly.  Quality Stone Restoration's professional cleaning services involve stripping any topical sealer that may be present.  Next, we thoroughly clean the stone using professional-grade cleaners that are specifically designed for use on natural stone.  Lastly, we rinse off the cleansing agent, leaving a residue-free surface.  We can then apply an impregnating sealer to help protect against and minimize future staining and soil.
            dt Chip Repair
            dd There are many reasons a granite surface may become chipped.  Whatever your granite's issue--whether it's a simple crack or an entire segment of your granite has chipped off and gone missing--we can address it.  Call us for an in-home consultation to review different options for addressing your travertine repair.
        p For quality and professional cleaning, polishing, sealing, and chip repair of granite at reasonable prices, call Quality Stone Restoration at 
            include ../components/link-tel
    section.content
        ul.gallery
            li
                a(href="../img/granite/01.jpg" rel="gallery" style="background-image: url(" + require('../../img/granite/01.jpg') + ")")
            li
                a(href="../img/granite/02.jpg" rel="gallery" style="background-image: url(" + require('../../img/granite/02.jpg') + ")")
            li
                a(href="../img/granite/03.jpg" rel="gallery" style="background-image: url(" + require('../../img/granite/03.jpg') + ")")
            li
                a(href="../img/granite/04.jpg" rel="gallery" style="background-image: url(" + require('../../img/granite/04.jpg') + ")")
            li
                a(href="../img/granite/05.jpg" rel="gallery" style="background-image: url(" + require('../../img/granite/05.jpg') + ")")
            li
                a(href="../img/granite/06.jpg" rel="gallery" style="background-image: url(" + require('../../img/granite/06.jpg') + ")")
            li
                a(href="../img/granite/07.jpg" rel="gallery" style="background-image: url(" + require('../../img/granite/07.jpg') + ")")
            li
                a(href="../img/granite/08.jpg" rel="gallery" style="background-image: url(" + require('../../img/granite/08.jpg') + ")")
            li
                a(href="../img/granite/09.jpg" rel="gallery" style="background-image: url(" + require('../../img/granite/09.jpg') + ")")
        h6 Contact us:
        include ../components/link-tel
        p Call us 7 days a week from 7:00 a.m. to 8:00 p.m. We generally respond to emails within an hour during business hours.  Call or text for an immediate response.  Or send us a message through our website:
        include ../components/form-inner