.page
    p Welcome to Quality Stone Restoration!  We specialize in the cleaning, repair, and restoration of stone surfaces including flooring, counter tops, back splashes, showers, and walls.
    p Our skilled team of certified stone repair technicians clean, polish, and restore a variety of surfaces: marble, travertine, limestone, granite, tile and grout, saltillo, terrazzo, concrete, and more.  Our services include cleaning, polishing, sealing, honing, restoration, color enhancement, and chip repair.
    p Whether your stone surfaces require cleaning, chip repair, or full restoration, Quality Stone Restoration delivers quality results at competitive prices.
    p We service the businesses and residents of San Diego County, Orange County, and surrounding areas.
    p Contact us to schedule a free in-home or on-site consultation and assessment to determine the best course of action to meet with your objectives and expectations.
    address.address
        p San Diego and Orange County residents and businesses, call us at
            a(href="tel:1-858-800-3819") 1-858-800-3819
        p Email us at
            a(href="mailto:info@stonesandiego.com") info@stonesandiego.com
        p Or, contact us through our website:
    include ../components/form
