.page
    section.content
        .promo
            .promo-cell
                .promo-heading Free Estimate
                p Call Quality Stone Restoration today for a free in-home or on-site estimate with no obligation to accept services.  We will travel anywhere in San Diego County, Orange County, and surrounding areas.
            .promo-cell
                .promo-heading 15% Off Maintenance Cleaning
                p Receive 15% off your next Quality Stone Restoration maintenance cleaning if you book by September 30, 2017.
                p
                    small Offers cannot be combined.  Service call minimum applies.
                p
                    small Offer valid until September 30, 2017.
        .promo-footer
            h4 Contact Quality Stone Restoration:
            a.hero-tel(href="tel:858-800-3819") (858) 800-3819