.page
    aside.sidebar
        p Quality Stone Restoration of San Diego County cleans, polishes, repairs, and restores a number of stone flooring and counter top types including:
        ul.services
            li
                a(href="../copy-of-travertine-new") Marble
                ul
                    each item in ["Restoration and Cleaning of Flooring and Counter Tops", "Chip Repair", "Showers", "Polishing", "Sealing", "Color Enhancement​"]
                        li= item
            li
                a(href="../copy-of-marble-new") Travertine
                ul
                    each item in ["Restoration and Cleaning of Flooring and Counter Tops", "Chip Repair", "Showers", "Fill Holes", "Polishing", "Sealing", "Color Enhancement"]
                        li= item
            li
                a(href="../copy-of-travertine-new-6") Limestone
                ul
                    each item in ["Restoration and Cleaning of Flooring and Counter Tops", "Chip Repair", "Showers", "Polishing", "Sealing", "Color Enhancement"]
                        li= item
            li
                div Onyx
                ul
                    each item in ["Cleaning and Sealing", "Chip Repair", "Showers", "Flooring", "Counter tops"]
                        li= item
            li
                a(href="../copy-of-travertine-new-2") Granite
                ul
                    each item in ["Restoration and Cleaning of Flooring and Counter Tops", "Chip Repair", "Polishing", "Color Enhancement", "Ultra High-Quality Sealing"]
                        li= item
            li
                div Quartzite
                ul
                    each item in ["Cleaning and Sealing", "Chip Repair", "Counter tops"]
                        li= item
            li
                div Tile and Grout
                ul
                    each item in ["Cleaning and Sealing", "Color Seal Grout Lines", "Showers", "Flooring", "Counter tops"]
                        li= item
            li
                div Slate
                ul
                    each item in ["Cleaning and Sealing", "Color Enhancement"]
                        li= item
            li
                div Saltillo
                ul
                    each item in ["Cleaning and Re-coating", "Stripping and Finishing"]
                        li= item
            li
                div Terrazzo
                ul
                    each item in ["Cleaning and Sealing", "Showers", "Flooring", "Counter tops"]
                        li= item
            li
                div Concrete
                ul
                    each item in ["Polishing", "Expose Aggregate", "Staining"]
                        li= item
            li
                div Lippage Removal
            li
                div Hole Filling
    section.content
        h4 We Are Quality
        p Quality Stone Restoration is a licensed and insured stone restoration company serving homes and businesses of San Diego County.  With our skilled team of certified, experienced technicians, we clean, restore, polish, and protect marble, limestone, travertine, and granite flooring and counter tops. Additionally, we clean and protect tile and grout surfaces, including showers, and we polish, stain, grind, and seal concrete.
        p Our technicians are prompt, courteous, professional, and knowledgeable.  There are no hidden fees or surprise charges.  All estimates are free.  When we arrive at your home or place of business to give an estimate, we will work with you to determine what services are required to meet your needs and budget.  We will give you our honest and expert advice.
        img(src=`${require('../../img/services.jpg')}` alt="Services")
        p Our company values knowledge and skill.  We know that not just anyone can restore and repair stone; it requires a specialized skill set, training, and experience.  That's why we stay apprised of the latest technologies in our field by regularly sending our technicians to formal training seminars.  Combining that training with our own hands-on experience, we bring our clients the best in professional stone restoration and cleaning.
        p With eight years of experience in stone cleaning and restoration and twenty-one years of experience in professional floor care, Quality Stone Restoration prides itself in delivering quality work at competitive prices to the residents and businesses of Orange County and surrounding areas.
        p We service both residential and commercial accounts.
        p
            span Call us today at
            a(href="tel:858-800-3819") 858-800-3819
            span for your free in-home or on-site estimate. You can also contact us at
            a(href="mailto:info@stonesandiego.com") info@stonesandiego.com
