.page.page-service
    header.page-header
        h4 Travertine
        h5 Restoration, Polishing, and hole filling
    aside.sidebar
        ul
            li
                div Quality Stone Restoration's travertine services include:
                ul
                    each item in ["Polishing", "Honing", "Protective Sealing", "Professional Cleaning", "Color Enhancement", "Chip Repair", "Lippage Removal", "Hole filling", "Full Restoration Services of Counter Tops, Floors, Showers, and Back Splashes"]
                        li= item
        dl
            dt Full Restoration
            dd Travertine is a beautiful stone that is used most frequently in flooring but is sometimes seen in counter tops and back splashes.  The look of travertine is both unique and stylish; however, this type of stone does require care and regular maintenance.  Acidic foods and cleaners will etch travertine surfaces, creating dull areas on the polished stone.  Sliding furniture across travertine can cause scratches.  Etches and scratches are damage to the stone and cannot simply be cleaned out.  Quality Stone Restoration can fully restore travertine to remove damage completely, providing a like-new finish.  And, in some cases, clients have told us that our techniques have made their surfaces look better than new.
            dt Polishing and Honing
            dd If you have travertine that looks duller than you'd like (or more polished than you'd like), we can fix that.  Polishing (adding shine to stone) and honing (removing shine from stone) are services that Quality Stone Restoration provides at reasonable rates.
            dt Lippage Removal
            dd Lippage Removal is another service we provide.   Lippage describes adjacent edges of tiles that are not level, one edge sitting higher than the adjoining edge.  Lippage is, unfortunately, almost unavoidable with tile installation.  Installation by a skilled tile setter will minimize lippage, but lippage will almost always occur to one degree or another.  When lippage is severe or too noticeable for your tastes, Quality Stone Restoration can help.  Our lippage removal process starts by evening out tiles, making them level with each other.  From there, further steps can be taken to achieve your desired finish, whether it's a highly polished look or a more matte, honed look.   Because the tiles are now level with each other, the polish will be consistent across the surface.
            dt Color Enhancement
            dd We can apply Color Enhancement to surfaces with honed finishes.  Quality Stone Restoration's color enhancement procedure enhances the depth and richness of natural stone while adding minimal gloss to the surface.  The look achieved is similar to wet stone without the bright reflection.  As with all of our services, we offer quality color enhancement at reasonable rates.
            dt Protective Sealing
            dd While protectively sealing natural stone surfaces is not mandatory, it is very highly recommended.  No sealer is an impenetrable barrier, but a quality sealer will go a long way toward protecting against staining and general soiling.  A good sealer will make clean-up easier and much more effective than an unsealed surface, but in the end, if you spill something, it still needs to be cleaned up.  Quality sealers will give you more time to do so.
            dt Professional Cleaning
            dd Frequent light cleaning of stone surfaces is ideal for overall maintenance.  It is also important for a deep professional clean to be performed regularly.  Quality Stone Restoration's professional cleaning services involve stripping any topical sealer that may be present.  Next, we thoroughly clean the stone using professional-grade cleaners that are specifically designed for use on natural stone.  Lastly, we rinse off the cleansing agent, leaving a residue-free surface.  We can then apply an impregnating sealer to help protect against and minimize future staining and soil.
            dt Chip Repair
            dd There are many reasons a travertine surface may become chipped.  Whatever your travertine's issue--whether it's a simple crack or an entire segment of your travertine has chipped off and gone missing--we can address it.  Call us for an in-home consultation to review different options for addressing your travertine repair.
            dt Hole Filling
            dd Travertine is a very porous material whose holes are generally filled in a factory setting prior to installation.  While these fills generally hold up well, they can occasionally dislodge.  Quality Stone Restoration can fill these holes so that they match your travertine's factory set fillings.​
        p For quality restoration, polishing, cleaning, and hole filling of travertine at reasonable prices, call Quality Stone Restoration at
            include ../components/link-tel
    section.content
        ul.gallery
            li
                a(href="../img/travertine/01.jpg" rel="gallery" style="background-image: url(" + require('../../img/travertine/01.jpg') + ")")
            li
                a(href="../img/travertine/02.jpg" rel="gallery" style="background-image: url(" + require('../../img/travertine/02.jpg') + ")")
            li
                a(href="../img/travertine/03.jpg" rel="gallery" style="background-image: url(" + require('../../img/travertine/03.jpg') + ")")
            li
                a(href="../img/travertine/04.jpg" rel="gallery" style="background-image: url(" + require('../../img/travertine/04.jpg') + ")")
            li
                a(href="../img/travertine/05.jpg" rel="gallery" style="background-image: url(" + require('../../img/travertine/05.jpg') + ")")
            li
                a(href="../img/travertine/06.jpg" rel="gallery" style="background-image: url(" + require('../../img/travertine/06.jpg') + ")")
            li
                a(href="../img/travertine/07.jpg" rel="gallery" style="background-image: url(" + require('../../img/travertine/07.jpg') + ")")
            li
                a(href="../img/travertine/08.jpg" rel="gallery" style="background-image: url(" + require('../../img/travertine/08.jpg') + ")")
            li
                a(href="../img/travertine/09.jpg" rel="gallery" style="background-image: url(" + require('../../img/travertine/09.jpg') + ")")
            li
                a(href="../img/travertine/10.jpg" rel="gallery" style="background-image: url(" + require('../../img/travertine/10.jpg') + ")")
            li
                a(href="../img/travertine/11.jpg" rel="gallery" style="background-image: url(" + require('../../img/travertine/11.jpg') + ")")
        h6 Contact us:
        include ../components/link-tel
        p Call us 7 days a week from 7:00 a.m. to 8:00 p.m. We generally respond to emails within an hour during business hours.  Call or text for an immediate response.  Or send us a message through our website:
        include ../components/form-inner